# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
env/

# Environment variable files
.env
*.env

# Pip
pip-wheel-metadata/
*.egg-info/

# ---- Cache ----
Runtime/assessor_cache/

# ---- System files ----
.DS_Store
Thumbs.db

# ---- IDE / Editor ----
.vscode/
.idea/

# ---- Other ----
logs/
Procfile
.gcloudignore
.dockerignore
*.yaml